{% extends 'base_dashboard.html' %}
{% load static %}
{% load widget_tweaks %}


{% block dashboardcontent %}


<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<h3 class="kt-portlet__head-title">
				Appointments
			</h3>
		</div>
		<div class="kt-portlet__head-toolbar">
	  	<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
				</div>
			</div>
		</div>
	</div>

	<div class="kt-portlet__body">
		<div class="kt-portlet">
			<form action="" method="post" class="kt-form">
				{% csrf_token %}
				<div class="kt-portlet__body">
					<div class="form-group">
						<label>Pet:</label>
						{{ form.pet | add_class:"form-control" }}
					</div>
					<div class="form-group">
						<label>Service type:</label>
						{{ form.service_type | add_class:"form-control" }}
					</div>
					<div class="form-group">
						<label for="exampleTextarea">Phone:</label>
						{{ form.phone | add_class:"form-control" }}
					</div>
					<div class="form-group">
						<label for="exampleTextarea">Details:</label>
						{{ form.details | add_class:"form-control" }}
					</div>
				</div>
				<div class="kt-portlet__foot">
					<div class="kt-form__actions">
						<button type="submit" class="btn btn-brand">Submit</button>
						<button type="reset" class="btn btn-secondary">Cancel</button>
					</div>
				</div>
		</div>

		<!-- <form action="" method="post">
			<div class="form-group">
			{% csrf_token %}
			{{ form }}
			<button type="submit"> Submit</button>
		</form> -->

	</div>
</div>
{% endblock %}

{% block appointments %}
<li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"  data-ktmenu-submenu-toggle="hover">
	<a  href="{% url 'pets:appointments' %}" class="kt-menu__link kt-menu__toggle">
		<i class="kt-menu__link-icon flaticon2-telegram-logo"></i>
		<span class="kt-menu__link-text">Appointments</span>
		<i class="kt-menu__ver-arrow la la-angle-right"></i>
	</a>
</li>
{% endblock %}